@{
    ViewData["Title"] = "Home";
}

<div class="home-page-background">
    <div class="content">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label id="search-label">Search</label>
                <div id="search-input-group" class="input-group">
                    <input type="text" class="form-control" name="q" id="index-search-input" placeholder="What are you searching for today?">
                    <span class="input-group-btn">
                        <button id="index-search-submit" class="btn btn-default" type="submit"><span class="ms-Icon ms-Icon--Search"></span></button>
                    </span>
                </div>
            </div>
        }
    </div>
</div>

<!--

<div class="content row">
    <div class="col-md-4">
        <h5>SAMPLE SEARCHES</h5>
        <button style="font-size:16px;" class="recentsearch" onclick='SampleSearch("Microsoft+Azure")'>
            Documents containing both <span class="recentsearchhighlight">Microsoft</span> and <span class="recentsearchhighlight">Azure</span>
            <div class="recentsearchdate">Microsoft+Azure</div>
        </button>
        <button style="font-size:16px;" class="recentsearch" onclick='SampleSearch("persons:\"Bill Gates\"")'>
            Documents referencing <span class="recentsearchhighlight">Bill Gates</span>
            <div class="recentsearchdate">persons:"Bill Gates"</div>
        </button>
        <button style="font-size:16px;" class="recentsearch" onclick='SampleSearch("\"data vm\"~10")'>
            Documents with <span class="recentsearchhighlight">data</span> and <span class="recentsearchhighlight">vm</span> within <span class="recentsearchhighlight">10</span> words
            <div class="recentsearchdate">"data vm"~10</div>
        </button>
        <button style="font-size:16px;" class="recentsearch" onclick='SampleSearch("keyPhrases:\"Data Science Tools\"")'>
            Documents where <span class="recentsearchhighlight">Data Science Tools</span> is a key phrase
            <div class="recentsearchdate">keyPhrases:"Data Science Tools"</div>
</button>
    </div>
    <div class="col-md-4">
    <h5>SAMPLE DOCUMENTS</h5>
    <button style="font-size:16px;" class="recentdocument" onclick="SampleSearch('aHR0cHM6Ly9jb2dzZWFyY2hkZW1vc3RvcmFnZS5ibG9iLmNvcmUud2luZG93cy5uZXQvZGVtby1maWxlcy9BSV9TdGF0ZV9PZl9UaGVfVW5pb24ucGRm0')">
        <i class="html-icon ms-Icon ms-Icon--Page" style="margin:0 10px 0 0;"></i>
        AI State of the Union Presentation
    </button>
    <button style="font-size:16px;" class="recentdocument" onclick="SampleSearch('aHR0cHM6Ly9jb2dzZWFyY2hkZW1vc3RvcmFnZS5ibG9iLmNvcmUud2luZG93cy5uZXQvZGVtby1maWxlcy9Db21wdXRlcl9WaXNpb24ucGRm0')">
        <i class="html-icon ms-Icon ms-Icon--Page" style="margin:0 10px 0 0;"></i>
        Computer Vision Documentation
    </button>
    <button style="font-size:16px;" class="recentdocument" onclick="SampleSearch('aHR0cHM6Ly9jb2dzZWFyY2hkZW1vc3RvcmFnZS5ibG9iLmNvcmUud2luZG93cy5uZXQvZGVtby1maWxlcy9Db2duaXRpdmVfU2VydmljZXMucGRm0')">
        <i class="html-icon ms-Icon ms-Icon--Page" style="margin:0 10px 0 0;"></i>
        Cognitive Services Documentation
    </button>
    <button style="font-size:16px;" class="recentdocument" onclick="SampleSearch('aHR0cHM6Ly9jb2dzZWFyY2hkZW1vc3RvcmFnZS5ibG9iLmNvcmUud2luZG93cy5uZXQvZGVtby1maWxlcy9UZXh0X0FuYWx5dGljcy5wZGY1')">
        <i class="html-icon ms-Icon ms-Icon--Page" style="margin:0 10px 0 0;"></i>
        Text Analytics Documentation
    </button>
    <button style="font-size:16px;" class="recentdocument" onclick="SampleSearch('aHR0cHM6Ly9jb2dzZWFyY2hkZW1vc3RvcmFnZS5ibG9iLmNvcmUud2luZG93cy5uZXQvZGVtby1maWxlcy9EYXRhX1NjaWVuY2VfVk0ucGRm0')">
        <i class="html-icon ms-Icon ms-Icon--Page" style="margin:0 10px 0 0;"></i>
        Data Science VM Documentation
    </button>
    </div>
    <div class="col-md-4">
        <h5>LEARN MORE</h5>
        <div style="font-size:16px;">
            <a href="https://azure.microsoft.com/en-us/services/search/">Azure Search</a>
        </div>
        <div style="font-size:16px;">
            <a href="https://azure.microsoft.com/en-us/services/cognitive-services/directory/">Cognitive Search</a>
        </div>
        <div style="font-size:16px;">
            <a href="https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/">Text Analytics</a>
        </div>
        <div style="font-size:16px;">
            <a href="https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/">Computer Vision</a>
        </div>
    </div>
</div>
    -->
